---
title: Techionista - Publishing
---

<div id="publishing">
  <div class="home-content">
    <%= image_tag "logo.png", width: "500" %>
    <h1>
     <strong> How to deploy with github! </strong>
   </h1>
   <h5>
    Not yet ready to deploy? Go back to the <%= link_to 'workshop site', '/' %>
  </h5>
</div>



<div class="step box" id="initial">
  <div class="box-title">
    <h2>
      Step 1
    </h2>
  </div>
  <div class="box-content">
    <a href="https://github.com/join" class="btn">
     Sign up for Github
   </a>
 </div>
</div>

<div class="step box" id="2">
<div class="box-title">
  <h2>
    Step 2
  </h2>
  </div>
  <a href="https://desktop.github.com/" class="btn">
    Download Github Desktop Client
  </a>
</div>

<div class="step box" id="3">
<div class="box-title">
  <h2>
    Step 3
  </h2>
  </div>
  <h3>
    Creating your local repository
  </h3>
  <%= image_tag "3_create_repo.png", class: "image" %>
  <%= image_tag "3_name_repo.png", class: "image" %>
</div>

<div class="step box" id="4">
<div class="box-title">
  <h2>
    Step 4
  </h2>
  </div>
  <h3>
    Copy your files into your repository!
  </h3>
  <%= image_tag "4_view_in_finder.png", class: "image" %>
  <br>
  <%= image_tag "4_copy_paste_files.png", class: "image", width: "900" %>
</div>

<div class="step box" id="5">
<div class="box-title">
  <h2>
    Step 5
  </h2>
  </div>
  <h3>
    Check, name and send it to github!
  </h3>
  <%= image_tag "5_files_in_repo.png", class: "image", width: "425" %>
  <%= image_tag "5_publish_repo_button.png", class: "image" %>
  <%= image_tag "5_name_publish_repo.png", class: "image" %>
</div>

<div class="step box" id="6">
<div class="box-title">
  <h2>
    Step 6
  </h2>
  </div>
  <h3>
    Check your files on github, go to the settings.
  </h3>
  <%= image_tag "6_check_files_github.png", class: "image" %>
  <%= image_tag "6_in_settings.png", class: "image" %>
</div>

<div class="step box" id="7">
<div class="box-title">
  <h2>
    Step 7
  </h2>
  </div>
  <h3>
    Check out your website!
  </h3>
  <%= image_tag "7_ready.png", class: "image" %>
  <%= image_tag "7_published.png", class: "image" %>
</div>


</div>


